@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
    ::-webkit-scrollbar {
        display: none;
    }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.navBar {
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  /* height: 72px; */
  padding: 0.5rem;
}
.navDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100% !important;
}

.searchBar {
  width: 360px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #f2f2f2;
  /* border:solid black 3px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15px;
}

.searchInput {
  width: 320px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #f2f2f2;
  border: solid black 0px !important;
  margin-left: 0.3rem;
}

.accountDiv {
  color: #2e2e2e;
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.itsFree {
  color: #2f6ce5;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bgDiv {
  padding: 0;
  display: inline-block;
  height: 440px;
  flex-shrink: 0;
  overflow-y: hidden;
  background-image: url("./images/bgImg2.png");
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.bgDiv::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.bgDiv::after {
  /* content: Computer Engineering; */
}

.ovText {
  position: absolute;
  top: 75%;
  left: 27%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.ovText h1 {
  /* font-size: 3rem; */
  /* margin-bottom: 10px; */
  color: #fff;
  font-family: IBM Plex Sans;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ovText p {
  color: #fff;
  font-family: IBM Plex Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.nav2 {
  border-bottom: solid 1px #e0e0e0;
  /* height: 60px; */
  margin-top: 1rem;
  padding: 1rem;
  z-index: 999;
}

.selectedFilter{
    display: none;
}

.filterBtn{
    display: none;
}

.listN {
}

.listItem {
  color: #8a8a8a;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  color: #000 !important;
}

.writeAPost {
  width: 133px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #edeef0;
}

.joinGrp {
  width: 133px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
}

.writeAPostText {
  color: #000 !important;
  font-family: IBM Plex Sans !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.postSection {
  /* border: solid 2px black; */
  margin-top: 2rem !important;
}

.card {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.card-title {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 134.167%; /* 29.517px */
}

.card-text {
  color: #5c5c5c;
  font-family: IBM Plex Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 134.167%; /* 25.492px */
}

.name {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.border {
  border: solid black 2px !important;
}

.iText {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.modal-header {
  /* border:solid black 2px; */
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: #effff4;
  justify-content: center;
}

.modal-header h5 {
  color: #008a45;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
}

.acc h2 {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.acc h3 {
  color: #3d3d3d;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.acc h3 span {
  color: #2f6ce5;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.regSvg {
  display: flex;
  width: 320px;
  height: 320px;
  padding: 20.395px 31.036px 38.761px 30.804px;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-shrink: 0;
  /* border: solid black 2px; */
}

.regSvgImg {
  width: 300px;
  height: 300px;
}

.pencil{
    position: sticky;
    bottom: 20px;
    /* border: solid black 2px; */
    float: right;
    margin: 20px;
    display: none;
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .nav2{
        width: 100% !important;
    }
    .postSection{
        width: 100% !important;
    }
 }

 @media (max-width: 768px) { 
    .nav2{
        width: 100% !important;
    }
    .postSection{
        width: 100% !important;
    }
    .filterBtn, .selectedFilter, .navIcons, .ovDiv{
        display: flex !important;
    }

    .listN, .writeAPost, .joinGrp, .navDiv{
        display: none !important;
    }

    .ovText{
        left: 36%;
    }

    .sideBar{
        width: 100% !important;
    }
 }

 
@media (max-width: 632px) { 

    .ovText h1{
        font-size: 2rem;
    }

    .profile{
        margin-top: 0 !important;
    }

    .bgDiv{
        height: 45vh;
    }
}

 @media (max-width: 576px) { 
    .nav2{
        width: 100% !important;
    }
    .postSection{
        width: 100% !important;
    }
    .filterBtn, .selectedFilter, .navIcons, .ovDiv, .pencil{
        display: flex !important;
    }

    .listN, .writeAPost, .joinGrp, .navDiv{
        display: none !important;
    }

    .bgDiv{
        height: 36vh;
    }

    .ovText{
        left: 36%;
    }

    .ovText h1{
        font-size: 1.2rem;
    }

    .ovText p{
        font-size: 0.68rem;
    }

    .profile{
        margin-top: 0 !important;
    }

    .card-title{
        font-size: 0.9em;
    }

    .card-text{
        font-size: 0.75;
    }

    .location{
        width: 100% !important;
    }
 }

